body.game {
    background-image: url("/assets/game/background-vertical.jpg");
    position: relative;
    animation: moveIt 63s linear;

    .astronaute {
        position: absolute;
    }
}


@keyframes moveIt {
from {background-position: 0 0;}
47% {background-position: 0 7000px;}
51%{background-position: 0 19500px;}
to {background-position: 0 25578px;}
}