body.game {
    background-image: url("/assets/game/background-vertical.jpg");
    position: relative;
    animation: moveItBackground 63s linear;

    div.astronaute {
        background-image: url("/assets/game/astronaute.png");
        position: absolute;
        background-position: cover;
        background-size: cover;
        height: 120px;
        width: 120px;
    }

    div.fire {
        background-image: url("/assets/game/fire.png");
        position: absolute;
        background-position: cover;
        background-size: cover;
        height: 40px;
        width: 40px;
    }

    div.fireball {
        background-image: url("/assets/game/fireball.png");
        position: absolute;
        background-position: cover;
        background-size: cover;
        height: 56px;
        width: 56px;
    }

    div.satelite {
        background-image: url("/assets/game/satellite.png");
        position: absolute;
        background-position: cover;
        background-size: cover;
        height: 40px;
        width: 40px;
    }

    div.cleanZone {
        position: absolute;
        width: 1324px;
        height: 20px;
        top: 730px;
    }

    div.countFire {
        background-image: url("/assets/game/fire.png");
        position: absolute;
        height: 40px;
        width: 40px;
        background-position: cover;
        background-size: cover;
        top: 20px;
        opacity: 0;

        &.countFire1 {
            right: 8px;
        }

        &.countFire2 {
            right: 56px;
        }

        &.countFire3 {
            right: 104px;
        }
    }
}


@keyframes moveItBackground {
from {background-position: 0 0;}
47% {background-position: 0 7000px;}
51%{background-position: 0 19500px;}
to {background-position: 0 25578px;}
}

// @keyframes moveItObstacle {
//     0% {transform: translateY(0);}
//     25% {transform: translateY(25%);}
//     50% {transform: translateY(50%);}
//     100% {transform: translateY(100%);}
//     }