@font-face {
  font-family: 'Coconut Cookies Regular';
  font-style: normal;
  font-weight: normal;
  src: local('/assets/fonts/Coconut Cookies Regular'), url('/assets/fonts/Coconut Cookies.woff') format('woff');
}

* {
    box-sizing: border-box;
  }
  
   body.intro {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Coconut Cookies Regular';
  }
  
  h1.title {
    font-size: 48px;
    text-align: center;
    margin: 24px;
  }
  
  p.explaination {
    font-size: 40px;
    padding: 120px;
    text-align: center;
    line-height: 56px;
  }
  
  button.start {
    display: block;
    font-size: 32px;
    border-radius: 54px;
    padding: 4px 40px;
    background-color: pink;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  