.gif {
  width: 100vw;
  height: 100vh;
}

.again {
  width: 370px;
  height: 60px;
  position: absolute;
  border: none;
  background:none;
  border-radius: 100px;
  left: 500px;
  top: 488px;
}
